# Datasets merging

In [1]:
import pandas as pd
Data_path = 'Data/'

Load the movie and Oscars data and extract the attributes

In [2]:
movie_df = pd.read_csv(Data_path+'tmdb_5000_movies.csv', parse_dates=['release_date'])
# create a columns with the year of the coresponding Oscar ceremony for merging latter on
movie_df['ceremony_year'] = movie_df['release_date'].apply(lambda date: date.year+1).fillna(0).astype(int)

In [3]:
oscar_df = pd.read_csv(Data_path+'oscars_website.csv').drop(columns='Unnamed: 0')

In [4]:
GG_df = pd.read_csv(Data_path+'goldenglobes_website.csv').drop(columns='Unnamed: 0')

Merge the two dataframe and get the nodes attribute dataframe

In [5]:
# merge on both title and ceremony_year to differentiate two Titanics movies or two King knog movies from different years
df = pd.merge(movie_df, oscar_df, how='left', left_on=['ceremony_year', 'title'], right_on=['Year', 'Films'])
df[['Oscars','Nominations']] = df[['Oscars','Nominations']].fillna(0)

In [6]:
# merge GoldenGlobes
df = pd.merge(df, GG_df, how='left', \
                        left_on=['ceremony_year', 'title'], \
                        right_on=['Year', 'Films'], \
                        suffixes=['_Oscars', '_GoldenGlobes'])
df[['GoldenGlobes','Nominations_GoldenGlobes']] = df[['GoldenGlobes','Nominations_GoldenGlobes']].fillna(0)

In [7]:
df.drop(columns=['Films_Oscars', 'Year_Oscars', 'Films_GoldenGlobes', 'Year_GoldenGlobes'], inplace=True)

In [8]:
# save merged data
df.to_csv(Data_path+'merged_data.csv')

Extract nodes attributes

In [10]:
nodes_attributes_df = df[['id', 'title', 'budget', 'popularity', 'revenue', 'runtime', 'vote_average', 'vote_count', 'ceremony_year', 'Oscars', 'Nominations_Oscars', 'GoldenGlobes', 'Nominations_GoldenGlobes']]
nodes_attributes_df.to_csv(Data_path+'nodes_attributes.csv')

Display The finals dataframes

In [13]:
print('Whole Dataframe')
display(df.iloc[:3,:])
print('Nodes attributes Dataframe')
display(nodes_attributes_df.iloc[:3,:])

Whole Dataframe

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,status,tagline,title,vote_average,vote_count,ceremony_year,Oscars,Nominations_Oscars,GoldenGlobes,Nominations_GoldenGlobes
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,Released,Enter the World of Pandora.,Avatar,7.2,11800,2010,3.0,9.0,2.0,4.0
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,2008,0.0,2.0,0.0,0.0
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,Released,A Plan No One Escapes,Spectre,6.3,4466,2016,1.0,1.0,1.0,1.0

Nodes attributes Dataframe

,id,title,budget,popularity,revenue,runtime,vote_average,vote_count,ceremony_year,Oscars,Nominations_Oscars,GoldenGlobes,Nominations_GoldenGlobes
0,19995,Avatar,237000000,150.437577,2787965087,162.0,7.2,11800,2010,3.0,9.0,2.0,4.0
1,285,Pirates of the Caribbean: At World's End,300000000,139.082615,961000000,169.0,6.9,4500,2008,0.0,2.0,0.0,0.0
2,206647,Spectre,245000000,107.376788,880674609,148.0,6.3,4466,2016,1.0,1.0,1.0,1.0