In [1]:
from bs4 import BeautifulSoup 
import urllib.request
import pandas as pd
import numpy as np

### Oscars  - French Wikipedia

In [2]:
# Grabbing the html file + reading the html using Beautiful soup
html = urllib.request.urlopen("https://fr.wikipedia.org/wiki/Liste_des_films_ayant_obtenu_un_ou_des_Oscars").read()
soup = BeautifulSoup(html, 'html.parser')
urllib.request.urlopen("https://fr.wikipedia.org/wiki/Liste_des_films_ayant_obtenu_un_ou_des_Oscars").close()

In [3]:
# Grabbing the table containing all Oscars
tab = soup.findAll("table",{"class":"wikitable sortable"})[0]

In [4]:
# Grabbing labels + all lines of the table
labels_html = tab.findAll("th")
items_html = tab.findAll("tr")[1:]

In [5]:
# Creating vector with column labels
labels = []
for i, tag in enumerate(labels_html):
    labels.append(tag.text.replace('\n',''))

In [6]:
# Creating array with all films/items 
items = []
for i, tag in enumerate(items_html):
    objects = []
    features = tag.findAll("td")
    if features[0].i.a.text == '(en)' :objects.append(features[0].i.text[:-4])
    if features[0].i.a.text != '(en)' :objects.append(features[0].i.a.text)
    objects.append(features[1].a.text)
    objects.append(features[2].text)
    objects.append(features[3].text.replace('\n',''))
        
    items.append(objects)

In [7]:
# Creating & Saving the data frame using labels and items/films
oscars = pd.DataFrame(data = items,columns=labels)
oscars.to_csv("oscars_french.csv")

In [8]:
# Checking if loading df is OK
oscars=pd.read_csv("oscars_french.csv",index_col=0)
oscars.set_index('Films')

                                                   Années  Oscars  Nominations
Films
007 Spectre                                          2015       1            1
20.000 lieues sous les mers                          1954       2            3
2001, l'Odyssée de l'espace                          1968       1            4
49e Parallèle                                        1942       1            3
8 Mile                                               2002       1            1
Abyss                                                1989       1            4
À chacun son destin                                  1946       1            2
The Accountant                                       2001       1            1
Les Accusés                                          1988       1            1
Adaptation.                                          2002       1            4
L'Adieu aux armes                                    1932       2            4
Adieu, je reste                                      1977       1            5
L'Affaire Thomas Crown                               1968       1            2
Affliction                                           1998       1            2
Les Affranchis                                       1990       1            6
A Herb Alpert and the Tijuana Brass Double Feature   1966       1            1
Les Ailes                                            1927       2            2
Air Force                                            1943       1            4
Airport                                              1970       1           10
À la croisée des mondes : La Boussole d'or           2007       1            2
Aladdin                                              1992       2            5
Alamo                                                1960       1            7
À la poursuite d'Octobre rouge                       1990       1            3
The Alaskan Eskimo                                   1953       1            1
Albert Schweitzer                                    1957       1            1
À l'est d'Éden                                       1955       1            4
Alice au pays des merveilles                         2010       2            3
Alice n'est plus ici                                 1974       1            3
Alien                                                1979       1            2
Aliens, le retour                                    1986       2            7
...                                                   ...     ...          ...
When Magoo Flew                                      1954       1            1
When We Were Kings                                   1996       1            1
Who Are the DeBolts?                                 1977       1            1
Who's Who in Animal Land                             1944       1            1
Why Korea?                                           1950       1            1
Why Man Creates                                      1968       1            1
Wild Wings                                           1966       1            1
Will Hunting                                         1997       2            9
Wilson                                               1944       5           10
Wings Over Everest                                   1935       1            1
Winnie l'ourson dans le vent                         1968       1            1
Whiplash                                             2014       3            5
With the Marines at Tarawa                           1944       1            1
Witness                                              1985       2            8
Witness to War: Dr. Charlie Clements                 1985       1            1
Women – for America, for the World                   1986       1            1
Wonder Boys                                          2000       1            3
Woodstock                                            1970       1            3
Work Experience                                      1989       1            1
Working Girl                                         1988       1            6
World of Kids                                        1951       1            1
Wrestling Swordfish                                  1931       1            1
A Year Toward Tomorrow                               1966       1            1
Yentl                                                1983       1            5
You Don't Have to Die                                1988       1            1
Young at Heart                                       1987       1            1
Z                                                    1969       2            5
Zero Dark Thirty                                     2012       1            5
Zootopie                                             2016       1            1
Zorba le Grec                                        1964       3            7

[1235 rows x 3 columns]

### Oscars - English Wikipedia

In [9]:
# Grabbing the html file + reading the html using Beautiful soup
html = urllib.request.urlopen("https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films").read()
soup = BeautifulSoup(html, 'html.parser')
urllib.request.urlopen("https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films").close()

In [10]:
# Grabbing the table containing all Oscars
tab = soup.findAll("table",{"class":"wikitable sortable"})[0]

In [11]:
# Grabbing labels + all lines of the table
labels_html = tab.findAll("th")
items_html = tab.findAll("tr")[1:]

In [12]:
# Creating vector with column labels
labels = []
for i, tag in enumerate(labels_html):
    labels.append(tag.text.replace('\n',''))

In [13]:
# Creating array with all films/items 
items = []
for i, tag in enumerate(items_html):
    objects = []
    features = tag.findAll("td")
    
    # film name
    names =[tag.name for tag in features[0].find_all()]
    if len(names) == 1: objects.append(features[0].i.text)
    if len(names) != 1: objects.append(features[0].a.text)
    
    # year 
    objects.append(features[1].a.text)
    
    # number of oscars
    nb_oscars = features[2].text
    objects.append(nb_oscars.split(' ')[0])
    
    # number of nominations
    objects.append(features[3].text.replace('\n',''))
    items.append(objects)

In [14]:
# Creating & Saving the data frame using labels and items/films
oscars = pd.DataFrame(data =items,columns=labels)
oscars.to_csv("oscars_english.csv")

In [15]:
oscars

                                           Film  Year Awards Nominations
0                                    Green Book  2018      3           5
1                             Bohemian Rhapsody  2018      4           5
2                                          Roma  2018      3          10
3                                 Black Panther  2018      3           7
4                                 The Favourite  2018      1          10
5                                A Star Is Born  2018      1           8
6                                          Vice  2018      1           8
7                                BlacKkKlansman  2018      1           6
8                                     First Man  2018      1           4
9                    If Beale Street Could Talk  2018      1           3
10                                          Bao  2018      1           1
11                                    Free Solo  2018      1           1
12                     Period. End of Sentence.  2018      1           1
13                                         Skin  2018      1           1
14            Spider-Man: Into the Spider-Verse  2018      1           1
15                           The Shape of Water  2017      4          13
16                                      Dunkirk  2017      3           8
17    Three Billboards Outside Ebbing, Missouri  2017      2           7
18                                 Darkest Hour  2017      2           6
19                            Blade Runner 2049  2017      2           5
20                                         Coco  2017      2           2
21                               Phantom Thread  2017      1           6
22                         Call Me by Your Name  2017      1           4
23                                      Get Out  2017      1           4
24                                     I, Tonya  2017      1           3
25                              Dear Basketball  2017      1           1
26                            A Fantastic Woman  2017      1           1
27           Heaven Is a Traffic Jam on the 405  2017      1           1
28                                       Icarus  2017      1           1
29                             The Silent Child  2017      1           1
...                                         ...   ...    ...         ...
1269                          The Wetback Hound  1957      1           1
1270           What Ever Happened to Baby Jane?  1962      1           5
1271                        When Tomorrow Comes  1939      1           1
1272                            When Magoo Flew  1954      1           1
1273                        When Worlds Collide  1951      1           2
1274            White Shadows in the South Seas  1928      1           1
1275                           White Wilderness  1958      1           2
1276                   Who's Who in Animal Land  1944      1           1
1277                                 Why Korea?  1950      1           1
1278                                     Wilson  1944      5          10
1279                                      Wings  1927      2           2
1280                         Wings Over Everest  1935      1           1
1281                    With a Song in My Heart  1952      1           5
1282                With Byrd at the South Pole  1929      1           1
1283                 With the Marines at Tarawa  1944      1           1
1284                           The Wizard of Oz  1939      2       6[11]
1285                          Woman of the Year  1942      1           2
1286                                 Wonder Man  1945      1           4
1287  The Wonderful World of the Brothers Grimm  1962      1           4
1288                              World of Kids  1951      1           1
1289                          World Without Sun  1964      1           1
1290                        Wrestling Swordfish  1931      1           1
1291                        Written on the Wind  1956      1           3
1292                          Wuthering Heights  1939      1           8
1293                        Yankee Doodle Dandy  1942      3           8
1294                    The Yankee Doodle Mouse  1943      1           1
1295                               The Yearling  1946      2           7
1296              Yesterday, Today and Tomorrow  1964      1           1
1297                 You Can't Take It with You  1938      2           7
1298                            Zorba the Greek  1964      3           7

[1299 rows x 4 columns]

In [16]:
# Checking if loading df is OK
oscars=pd.read_csv("oscars_english.csv",index_col=0)
oscars.set_index("Film")

                                           Year  Awards Nominations
Film
Green Book                                 2018       3           5
Bohemian Rhapsody                          2018       4           5
Roma                                       2018       3          10
Black Panther                              2018       3           7
The Favourite                              2018       1          10
A Star Is Born                             2018       1           8
Vice                                       2018       1           8
BlacKkKlansman                             2018       1           6
First Man                                  2018       1           4
If Beale Street Could Talk                 2018       1           3
Bao                                        2018       1           1
Free Solo                                  2018       1           1
Period. End of Sentence.                   2018       1           1
Skin                                       2018       1           1
Spider-Man: Into the Spider-Verse          2018       1           1
The Shape of Water                         2017       4          13
Dunkirk                                    2017       3           8
Three Billboards Outside Ebbing, Missouri  2017       2           7
Darkest Hour                               2017       2           6
Blade Runner 2049                          2017       2           5
Coco                                       2017       2           2
Phantom Thread                             2017       1           6
Call Me by Your Name                       2017       1           4
Get Out                                    2017       1           4
I, Tonya                                   2017       1           3
Dear Basketball                            2017       1           1
A Fantastic Woman                          2017       1           1
Heaven Is a Traffic Jam on the 405         2017       1           1
Icarus                                     2017       1           1
The Silent Child                           2017       1           1
...                                         ...     ...         ...
The Wetback Hound                          1957       1           1
What Ever Happened to Baby Jane?           1962       1           5
When Tomorrow Comes                        1939       1           1
When Magoo Flew                            1954       1           1
When Worlds Collide                        1951       1           2
White Shadows in the South Seas            1928       1           1
White Wilderness                           1958       1           2
Who's Who in Animal Land                   1944       1           1
Why Korea?                                 1950       1           1
Wilson                                     1944       5          10
Wings                                      1927       2           2
Wings Over Everest                         1935       1           1
With a Song in My Heart                    1952       1           5
With Byrd at the South Pole                1929       1           1
With the Marines at Tarawa                 1944       1           1
The Wizard of Oz                           1939       2       6[11]
Woman of the Year                          1942       1           2
Wonder Man                                 1945       1           4
The Wonderful World of the Brothers Grimm  1962       1           4
World of Kids                              1951       1           1
World Without Sun                          1964       1           1
Wrestling Swordfish                        1931       1           1
Written on the Wind                        1956       1           3
Wuthering Heights                          1939       1           8
Yankee Doodle Dandy                        1942       3           8
The Yankee Doodle Mouse                    1943       1           1
The Yearling                               1946       2           7
Yesterday, Today and Tomorrow              1964       1           1
You Can't Take It with You                 1938       2           7
Zorba the Greek                            1964       3           7

[1299 rows x 3 columns]

### Oscars - Oscars Website

In [72]:
# General info before starting to generate data frame
root_url = "https://www.oscars.org/oscars/ceremonies/"
years = [str(i) for i in range(1929,2020)]
labels =  ['Films','Year','Oscars','Nominations']
oscars = pd.DataFrame(data = [],columns = labels)

In [73]:
all_cat1 = ["Actor in a Leading Role","Actor in a Supporting Role","Actress in a Leading Role", "Actress in a Supporting"]
all_cat2 = ["Animated Feature Film","Cinematography","Costum Design","Directing","Documentary (Feature)",
          "Documentary (Short Subject)","Film Editing","Foreing Language Film","Makeup and Hairstyling",
          "Music (Original Score)", "Music (Original Song)", "Best Picture", "Production Design","Short Film (Animated)"
          "Short Film (Animated)","Short Film (Live Action)","Sound Editing","Sound Mixing","Visual Effects",
          "Writing (Adapted Screenplay)","Writing (Original Screenplay)"]

In [74]:
for i, year in enumerate(years):
    
    url = root_url + year   # string of the url for each year
    
    # Grab html page content
    html = urllib.request.urlopen(url).read() 
    # Read html content
    soup = BeautifulSoup(html, 'html.parser')
    # Close html page
    urllib.request.urlopen(url).close()
    
    # Grab table with all GG info
    tab = soup.findAll("div",{"class":"view-content"})[1]
    categories = tab.findAll("div",{"class":"view-grouping"})
    
    for i, category in enumerate(categories):
        cat_name = category.findAll("div",{"class":"view-grouping-header"})[0]
        if cat_name.h2.text in all_cat1:
            for j, item in enumerate(category.findAll("div",{"class":"views-field views-field-title"})):
                if j == 0: df = pd.DataFrame(data=[[item.span.text.replace('\n',''),year,1,1]],columns = labels)
                else : df = pd.DataFrame(data=[[item.span.text.replace('\n',''),year,0,1]],columns = labels)
                oscars = oscars.append(df,ignore_index = True)
        if cat_name.h2.text in all_cat2: 
            for j, item in enumerate(category.findAll("div",{"class":"views-field views-field-field-actor-name"})):
                if j == 0: df = pd.DataFrame(data=[[item.h4.text.replace('\n',''),year,1,1]],columns = labels)
                else : df = pd.DataFrame(data=[[item.h4.text.replace('\n',''),year,0,1]],columns = labels) 
                oscars =oscars.append(df,ignore_index = True)

In [75]:
oscars

                                Films  Year Oscars Nominations
0                             Sunrise  1929      1           1
1                             Sunrise  1929      0           1
2                    The Devil Dancer  1929      0           1
3                     The Magic Flame  1929      0           1
4                      Sadie Thompson  1929      0           1
5     White Shadows in the South Seas  1930      1           1
6               Our Dancing Daughters  1930      0           1
7                      In Old Arizona  1930      0           1
8                         Four Devils  1930      0           1
9                        Street Angel  1930      0           1
10                    The Divine Lady  1930      0           1
11                    The Divine Lady  1930      1           1
12                           Madame X  1930      0           1
13                The Broadway Melody  1930      0           1
14                     In Old Arizona  1930      0           1
15                               Drag  1930      0           1
16                        Weary River  1930      0           1
17                        The Patriot  1930      0           1
18        With Byrd at the South Pole  1931      1           1
19     All Quiet on the Western Front  1931      0           1
20                      Anna Christie  1931      0           1
21                      Hell's Angels  1931      0           1
22                    The Love Parade  1931      0           1
23     All Quiet on the Western Front  1931      1           1
24                      Anna Christie  1931      0           1
25                            Romance  1931      0           1
26                       The Divorcee  1931      0           1
27                    The Love Parade  1931      0           1
28                         Hallelujah  1931      0           1
29                               Tabu  1932      1           1
...                               ...   ...    ...         ...
4295                             Skin  2019      1           1
4296                       Detainment  2019      0           1
4297                            Fauve  2019      0           1
4298                       Marguerite  2019      0           1
4299                           Mother  2019      0           1
4300                Bohemian Rhapsody  2019      1           1
4301                    Black Panther  2019      0           1
4302                        First Man  2019      0           1
4303                    A Quiet Place  2019      0           1
4304                             Roma  2019      0           1
4305                Bohemian Rhapsody  2019      1           1
4306                    Black Panther  2019      0           1
4307                        First Man  2019      0           1
4308                             Roma  2019      0           1
4309                   A Star Is Born  2019      0           1
4310                        First Man  2019      1           1
4311           Avengers: Infinity War  2019      0           1
4312                Christopher Robin  2019      0           1
4313                 Ready Player One  2019      0           1
4314          Solo: A Star Wars Story  2019      0           1
4315                   BlacKkKlansman  2019      1           1
4316     The Ballad of Buster Scruggs  2019      0           1
4317         Can You Ever Forgive Me?  2019      0           1
4318       If Beale Street Could Talk  2019      0           1
4319                   A Star Is Born  2019      0           1
4320                       Green Book  2019      1           1
4321                    The Favourite  2019      0           1
4322                   First Reformed  2019      0           1
4323                             Roma  2019      0           1
4324                             Vice  2019      0           1

[4325 rows x 4 columns]

In [81]:
clean_oscars = oscars.copy()

In [84]:
test = clean_oscars.groupby(['Films'])

In [107]:
final_oscars = pd.DataFrame(data = {"Films":list(test.count().index.values), 
                                    "Oscars":list(test.Oscars.sum()), 
                                    "Nominations" :list(test.Nominations.sum())})

In [109]:
# Creating & Saving the data frame using labels and items/films
pd.DataFrame(data =final_oscars,columns=labels).to_csv("oscars_website.csv")

### Golden Globes - Golden Globes Website

In [ ]:
# General info before starting to generate data frame
root_url = "https://www.goldenglobes.com/winners-nominees/"
years = [str(i) for i in range(1944,2020)]
labels =  ['Films','Années','Golden Globes','Nominations']
golden_globes = pd.DataFrame(data = [],columns = labels)

In [ ]:
# Grabb all info for each year
for i, year in enumerate(years):
    
    url = root_url + year   # string of the url for each year
    
    # Grab html page content
    html = urllib.request.urlopen(url).read() 
    # Read html content
    soup = BeautifulSoup(html, 'html.parser')
    # Close html page
    urllib.request.urlopen(url).close()
    
    # Grab table with all GG info
    tab = soup.findAll("div",{"class":"pane-content"})[0]
    
    # Grab all nominees (films and films nominated through persons)
    films_nominees = tab.findAll("div",{"class":"primary-nominee"})
    person_nominees = tab.findAll("div",{"class":"secondary-nominee"}) 
    
    # Grab each nominations film name one by one
    for i, tag in enumerate(films_nominees):
        if "film" in tag.a['href']:
            golden_globes = golden_globes.append(pd.DataFrame(data=[[tag.a.text,year,0,1]], columns=labels),ignore_index = True)
    for i, tag in enumerate(person_nominees):
        if "film" in tag.a['href']:
            golden_globes = golden_globes.append(pd.DataFrame(data = [[tag.a.text,year,0,1]], columns=labels),ignore_index = True)

In [ ]:
# Generalise to all pages + add winner content + clear the resulting data frame
# Peut etre petit probleme avec les titres, dans page wiki, certains titre sont en langue original, d'autres non
golden_globes.groupby('Films')['Nominations'].count()