In [1]:
from bs4 import BeautifulSoup 
import urllib.request
import pandas as pd
import numpy as np

### Oscars  - French Wikipedia

In [2]:
# Grabbing the html file + reading the html using Beautiful soup
html = urllib.request.urlopen("https://fr.wikipedia.org/wiki/Liste_des_films_ayant_obtenu_un_ou_des_Oscars").read()
soup = BeautifulSoup(html, 'html.parser')
urllib.request.urlopen("https://fr.wikipedia.org/wiki/Liste_des_films_ayant_obtenu_un_ou_des_Oscars").close()

In [3]:
# Grabbing the table containing all Oscars
tab = soup.findAll("table",{"class":"wikitable sortable"})[0]

In [4]:
# Grabbing labels + all lines of the table
labels_html = tab.findAll("th")
items_html = tab.findAll("tr")[1:]

In [5]:
# Creating vector with column labels
labels = []
for i, tag in enumerate(labels_html):
    labels.append(tag.text.replace('\n',''))

In [6]:
# Creating array with all films/items 
items = []
for i, tag in enumerate(items_html):
    objects = []
    features = tag.findAll("td")
    if features[0].i.a.text == '(en)' :objects.append(features[0].i.text[:-4])
    if features[0].i.a.text != '(en)' :objects.append(features[0].i.a.text)
    objects.append(features[1].a.text)
    objects.append(features[2].text)
    objects.append(features[3].text.replace('\n',''))
        
    items.append(objects)

In [7]:
# Creating & Saving the data frame using labels and items/films
oscars = pd.DataFrame(data = items,columns=labels)
oscars.to_csv("oscars_french.csv")

In [8]:
# Checking if loading df is OK
oscars=pd.read_csv("oscars_french.csv",index_col=0)
oscars.set_index('Films')

                                                   Années  Oscars  Nominations
Films
007 Spectre                                          2015       1            1
20.000 lieues sous les mers                          1954       2            3
2001, l'Odyssée de l'espace                          1968       1            4
49e Parallèle                                        1942       1            3
8 Mile                                               2002       1            1
Abyss                                                1989       1            4
À chacun son destin                                  1946       1            2
The Accountant                                       2001       1            1
Les Accusés                                          1988       1            1
Adaptation.                                          2002       1            4
L'Adieu aux armes                                    1932       2            4
Adieu, je reste                                      1977       1            5
L'Affaire Thomas Crown                               1968       1            2
Affliction                                           1998       1            2
Les Affranchis                                       1990       1            6
A Herb Alpert and the Tijuana Brass Double Feature   1966       1            1
Les Ailes                                            1927       2            2
Air Force                                            1943       1            4
Airport                                              1970       1           10
À la croisée des mondes : La Boussole d'or           2007       1            2
Aladdin                                              1992       2            5
Alamo                                                1960       1            7
À la poursuite d'Octobre rouge                       1990       1            3
The Alaskan Eskimo                                   1953       1            1
Albert Schweitzer                                    1957       1            1
À l'est d'Éden                                       1955       1            4
Alice au pays des merveilles                         2010       2            3
Alice n'est plus ici                                 1974       1            3
Alien                                                1979       1            2
Aliens, le retour                                    1986       2            7
...                                                   ...     ...          ...
When Magoo Flew                                      1954       1            1
When We Were Kings                                   1996       1            1
Who Are the DeBolts?                                 1977       1            1
Who's Who in Animal Land                             1944       1            1
Why Korea?                                           1950       1            1
Why Man Creates                                      1968       1            1
Wild Wings                                           1966       1            1
Will Hunting                                         1997       2            9
Wilson                                               1944       5           10
Wings Over Everest                                   1935       1            1
Winnie l'ourson dans le vent                         1968       1            1
Whiplash                                             2014       3            5
With the Marines at Tarawa                           1944       1            1
Witness                                              1985       2            8
Witness to War: Dr. Charlie Clements                 1985       1            1
Women – for America, for the World                   1986       1            1
Wonder Boys                                          2000       1            3
Woodstock                                            1970       1            3
Work Experience                                      1989       1            1
Working Girl                                         1988       1            6
World of Kids                                        1951       1            1
Wrestling Swordfish                                  1931       1            1
A Year Toward Tomorrow                               1966       1            1
Yentl                                                1983       1            5
You Don't Have to Die                                1988       1            1
Young at Heart                                       1987       1            1
Z                                                    1969       2            5
Zero Dark Thirty                                     2012       1            5
Zootopie                                             2016       1            1
Zorba le Grec                                        1964       3            7

[1235 rows x 3 columns]

### Oscars - English Wikipedia

In [9]:
# Grabbing the html file + reading the html using Beautiful soup
html = urllib.request.urlopen("https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films").read()
soup = BeautifulSoup(html, 'html.parser')
urllib.request.urlopen("https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films").close()

In [10]:
# Grabbing the table containing all Oscars
tab = soup.findAll("table",{"class":"wikitable sortable"})[0]

In [11]:
# Grabbing labels + all lines of the table
labels_html = tab.findAll("th")
items_html = tab.findAll("tr")[1:]

In [12]:
# Creating vector with column labels
labels = []
for i, tag in enumerate(labels_html):
    labels.append(tag.text.replace('\n',''))

In [13]:
# Creating array with all films/items 
items = []
for i, tag in enumerate(items_html):
    objects = []
    features = tag.findAll("td")
    
    # film name
    names =[tag.name for tag in features[0].find_all()]
    if len(names) == 1: objects.append(features[0].i.text)
    if len(names) != 1: objects.append(features[0].a.text)
    
    # year 
    objects.append(features[1].a.text)
    
    # number of oscars
    nb_oscars = features[2].text
    objects.append(nb_oscars.split(' ')[0])
    
    # number of nominations
    objects.append(features[3].text.replace('\n',''))
    items.append(objects)

In [14]:
# Creating & Saving the data frame using labels and items/films
oscars = pd.DataFrame(data =items,columns=labels)
oscars.to_csv("oscars_english.csv")

In [15]:
# Checking if loading df is OK
oscars=pd.read_csv("oscars_english.csv",index_col=0)
oscars.set_index("Film")

                                           Year  Awards Nominations
Film
Green Book                                 2018       3           5
Bohemian Rhapsody                          2018       4           5
Roma                                       2018       3          10
Black Panther                              2018       3           7
The Favourite                              2018       1          10
A Star Is Born                             2018       1           8
Vice                                       2018       1           8
BlacKkKlansman                             2018       1           6
First Man                                  2018       1           4
If Beale Street Could Talk                 2018       1           3
Bao                                        2018       1           1
Free Solo                                  2018       1           1
Period. End of Sentence.                   2018       1           1
Skin                                       2018       1           1
Spider-Man: Into the Spider-Verse          2018       1           1
The Shape of Water                         2017       4          13
Dunkirk                                    2017       3           8
Three Billboards Outside Ebbing, Missouri  2017       2           7
Darkest Hour                               2017       2           6
Blade Runner 2049                          2017       2           5
Coco                                       2017       2           2
Phantom Thread                             2017       1           6
Call Me by Your Name                       2017       1           4
Get Out                                    2017       1           4
I, Tonya                                   2017       1           3
Dear Basketball                            2017       1           1
A Fantastic Woman                          2017       1           1
Heaven Is a Traffic Jam on the 405         2017       1           1
Icarus                                     2017       1           1
The Silent Child                           2017       1           1
...                                         ...     ...         ...
The Wetback Hound                          1957       1           1
What Ever Happened to Baby Jane?           1962       1           5
When Tomorrow Comes                        1939       1           1
When Magoo Flew                            1954       1           1
When Worlds Collide                        1951       1           2
White Shadows in the South Seas            1928       1           1
White Wilderness                           1958       1           2
Who's Who in Animal Land                   1944       1           1
Why Korea?                                 1950       1           1
Wilson                                     1944       5          10
Wings                                      1927       2           2
Wings Over Everest                         1935       1           1
With a Song in My Heart                    1952       1           5
With Byrd at the South Pole                1929       1           1
With the Marines at Tarawa                 1944       1           1
The Wizard of Oz                           1939       2       6[11]
Woman of the Year                          1942       1           2
Wonder Man                                 1945       1           4
The Wonderful World of the Brothers Grimm  1962       1           4
World of Kids                              1951       1           1
World Without Sun                          1964       1           1
Wrestling Swordfish                        1931       1           1
Written on the Wind                        1956       1           3
Wuthering Heights                          1939       1           8
Yankee Doodle Dandy                        1942       3           8
The Yankee Doodle Mouse                    1943       1           1
The Yearling                               1946       2           7
Yesterday, Today and Tomorrow              1964       1           1
You Can't Take It with You                 1938       2           7
Zorba the Greek                            1964       3           7

[1299 rows x 3 columns]

### Oscars - Oscars Website

In [16]:
# General info before starting to generate data frame
root_url = "https://www.oscars.org/oscars/ceremonies/"
years = [str(i) for i in range(1929,2020)]
labels =  ['Films','Year','Oscars','Nominations']
oscars = pd.DataFrame(data = [],columns = labels)

In [ ]:
for i, year in enumerate(years):
    
    # string of the url for each year
    url = root_url + year   
    # Grab html page content
    html = urllib.request.urlopen(url).read() 
    # Read html content
    soup = BeautifulSoup(html, 'html.parser')
    # Close html page
    urllib.request.urlopen(url).close()
    
    # Grab table with all oscars info
    tab = soup.findAll("div",{"class":"view-content"})[1]
    # Grad tables each containing info for each oscars catagory
    categories = tab.findAll("div",{"class":"view-grouping"})
    
    # Iterationg over categories of oscars
    for i, category in enumerate(categories):
        
        # Name of the oscar's category 
        cat_name = category.findAll("div",{"class":"view-grouping-header"})[0]  
        
        # Don't consider special Awards, only oscars
        if "Award" not in cat_name.h2.text:                                     
            
            # if category awards an actor/actress
            if "Actor" in cat_name.h2.text or "Actress" in cat_name.h2.text :
                for j, item in enumerate(category.findAll("div",{"class":"views-field views-field-title"})):
                    
                    # if won the oscar
                    if j == 0: df = pd.DataFrame(data=[[item.span.text.replace('\n',''),year,1,1]],columns = labels)
                    
                    # if only got nominated
                    else : df = pd.DataFrame(data=[[item.span.text.replace('\n',''),year,0,1]],columns = labels)
                    
                    # append df with single nomination to the data base
                    oscars = oscars.append(df,ignore_index = True)                    
            
            # if category awards a film 
            else: 
                for j, item in enumerate(category.findAll("div",{"class":"views-field views-field-field-actor-name"})):
                    
                    # if won the oscar
                    if j == 0: df = pd.DataFrame(data=[[item.h4.text.replace('\n',''),year,1,1]],columns = labels)
                    
                    # if only got nominated
                    else : df = pd.DataFrame(data=[[item.h4.text.replace('\n',''),year,0,1]],columns = labels) 
                    
                    # append df with single nomination to the data base
                    oscars = oscars.append(df,ignore_index = True)

In [ ]:
clean_oscars = oscars.copy()
clean_oscars = clean_oscars[clean_oscars.Films != '']
grouped = clean_oscars.groupby(['Films','Year'])

In [ ]:
final_oscars = pd.DataFrame(data = {"Films":list(grouped.count().reset_index(level=['Year']).index.values), 
                                    "Year":list(grouped.count().reset_index(level=['Year']).Year.values),
                                    "Oscars":list(grouped.Oscars.sum().values), 
                                    "Nominations":list(grouped.Nominations.sum().values)})

In [ ]:
# Creating & Saving the data frame using labels and items/films
pd.DataFrame(data =final_oscars,columns=labels).to_csv("oscars_website.csv")

### Golden Globes - Golden Globes Website

In [ ]:
# General info before starting to generate data frame
root_url = "https://www.goldenglobes.com/winners-nominees/"
years = [str(i) for i in range(1944,2020)]
labels =  ['Films','Années','Golden Globes','Nominations']
golden_globes = pd.DataFrame(data = [],columns = labels)

In [ ]:
# Grabb all info for each year
for i, year in enumerate(years):
    
    url = root_url + year   # string of the url for each year
    
    # Grab html page content
    html = urllib.request.urlopen(url).read() 
    # Read html content
    soup = BeautifulSoup(html, 'html.parser')
    # Close html page
    urllib.request.urlopen(url).close()
    
    # Grab table with all GG info
    tab = soup.findAll("div",{"class":"pane-content"})[0]
    
    # Grab all nominees (films and films nominated through persons)
    films_nominees = tab.findAll("div",{"class":"primary-nominee"})
    person_nominees = tab.findAll("div",{"class":"secondary-nominee"}) 
    
    # Grab each nominations film name one by one
    for i, tag in enumerate(films_nominees):
        if "film" in tag.a['href']:
            golden_globes = golden_globes.append(pd.DataFrame(data=[[tag.a.text,year,0,1]], columns=labels),ignore_index = True)
    for i, tag in enumerate(person_nominees):
        if "film" in tag.a['href']:
            golden_globes = golden_globes.append(pd.DataFrame(data = [[tag.a.text,year,0,1]], columns=labels),ignore_index = True)

In [ ]:
# Generalise to all pages + add winner content + clear the resulting data frame
# Peut etre petit probleme avec les titres, dans page wiki, certains titre sont en langue original, d'autres non
golden_globes.groupby('Films')['Nominations'].count()